Polars

In [3]:
import polars as ps
ps.Series([1, 2, 3])

shape: (3,)
Series: '' [i64]
[
	1
	2
	3
]

In [4]:
d=ps.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'],
              'Age': [25, 30, 35],})
print(d)

shape: (3, 2)
┌─────────┬─────┐
│ Name    ┆ Age │
│ ---     ┆ --- │
│ str     ┆ i64 │
╞═════════╪═════╡
│ Alice   ┆ 25  │
│ Bob     ┆ 30  │
│ Charlie ┆ 35  │
└─────────┴─────┘

In [8]:
import numpy as np
dd=np.array([[1,'charle'], [2,'cle'], [3,'chare']])
print(dd)

[['1' 'charle']
 ['2' 'cle']
 ['3' 'chare']]

In [27]:
df = df.with_columns(df['ID'].cast(int))
print(df)

shape: (3, 2)
┌─────┬────────┐
│ ID  ┆ Name   │
│ --- ┆ ---    │
│ i64 ┆ str    │
╞═════╪════════╡
│ 1   ┆ charle │
│ 2   ┆ cle    │
│ 3   ┆ chare  │
└─────┴────────┘

In [29]:
sel_df=df.select('ID')
print(sel_df)

shape: (3, 1)
┌─────┐
│ ID  │
│ --- │
│ i64 │
╞═════╡
│ 1   │
│ 2   │
│ 3   │
└─────┘

In [30]:
df.filter(df['ID'] > 1)

shape: (2, 2)
┌─────┬───────┐
│ ID  ┆ Name  │
│ --- ┆ ---   │
│ i64 ┆ str   │
╞═════╪═══════╡
│ 2   ┆ cle   │
│ 3   ┆ chare │
└─────┴───────┘

In [32]:
df.write_csv('output.csv')
ps.read_csv('output.csv')

shape: (3, 2)
┌─────┬────────┐
│ ID  ┆ Name   │
│ --- ┆ ---    │
│ i64 ┆ str    │
╞═════╪════════╡
│ 1   ┆ charle │
│ 2   ┆ cle    │
│ 3   ┆ chare  │
└─────┴────────┘

In [33]:

dfq=df.write_parquet('output.parquet')
ps.read_parquet('output.parquet')

shape: (3, 2)
┌─────┬────────┐
│ ID  ┆ Name   │
│ --- ┆ ---    │
│ i64 ┆ str    │
╞═════╪════════╡
│ 1   ┆ charle │
│ 2   ┆ cle    │
│ 3   ┆ chare  │
└─────┴────────┘

In [34]:
df[df.group_by('Name')=='cle']

shape: (1, 2)
┌─────┬────────┐
│ ID  ┆ Name   │
│ --- ┆ ---    │
│ i64 ┆ str    │
╞═════╪════════╡
│ 1   ┆ charle │
└─────┴────────┘

In [35]:
dfv=ps.DataFrame({'Id':[1,2,3,],'job':['a','b','c']})
print(dfv)

shape: (3, 2)
┌─────┬─────┐
│ Id  ┆ job │
│ --- ┆ --- │
│ i64 ┆ str │
╞═════╪═════╡
│ 1   ┆ a   │
│ 2   ┆ b   │
│ 3   ┆ c   │
└─────┴─────┘

In [38]:
# Rename the column 'ID' to 'Id' in df
df = df.rename({"ID": "Id"})

# Perform the join operation
ddf = df.join(dfv, on='Id', how='inner')
print(ddf)

shape: (3, 3)
┌─────┬────────┬─────┐
│ Id  ┆ Name   ┆ job │
│ --- ┆ ---    ┆ --- │
│ i64 ┆ str    ┆ str │
╞═════╪════════╪═════╡
│ 1   ┆ charle ┆ a   │
│ 2   ┆ cle    ┆ b   │
│ 3   ┆ chare  ┆ c   │
└─────┴────────┴─────┘