1.Merging:

In [1]:
# Using the merge function 
import pandas as pd 
# First DataFrame 
left = pd.DataFrame({ 
"key": ["K0", "K1", "K2", "K3"], 
"A": ["A0", "A1", "A2", "A3"], 
"B": ["B0", "B1", "B2", "B3"], 
}) 
# Second DataFrame 
right = pd.DataFrame({ 
"key": ["K0", "K1", "K2", "K3"], 
"C": ["C0", "C1", "C2", "C3"], 
"D": ["D0", "D1", "D2", "D3"], 
}) 
# Merging the DataFrames 
result = pd.merge(left, right, on="key") 
# Printing the result 
print(result)

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

2.Concatination

In [2]:
# Using concat function 
import pandas as pd 
# First DataFrame 
df1 = pd.DataFrame({ 
'id': ['T01', 'T02', 'T03', 'T04'], 
'Name': ['Jiya', 'Riya', 'Maya', 'Piya'] 
}) 
# Second DataFrame 
df2 = pd.DataFrame({ 
'id': ['R05', 'R06', 'R07', 'R08'], 
'Name': ['Raam', 'Raaj', 'Naaz', 'Saaj'] 
}) 
# List of DataFrames to concatenate 
frames = [df1, df2] 
# Concatenating the DataFrames 
result = pd.concat(frames) 
# Printing the result 
print(result)

    id  Name
0  T01  Jiya
1  T02  Riya
2  T03  Maya
3  T04  Piya
0  R05  Raam
1  R06  Raaj
2  R07  Naaz
3  R08  Saaj

3.Melting

In [3]:
# Using melt() function 
import pandas as pd 
# Creating the DataFrame 
df1 = {"Name": ["Ravi", "Aniket", "Ana"], "ID": [1, 2, 3], "Role": 
["CEO", "Editor", "Author"]} 
df = pd.DataFrame(df1) 
# Printing the original DataFrame 
print(df) 
# Melting the DataFrame 
df_melted = pd.melt(df, id_vars=["ID"], value_vars=["Name", "Role"]) 
# Printing the melted DataFrame 
print(df_melted)

     Name  ID    Role
0    Ravi   1     CEO
1  Aniket   2  Editor
2     Ana   3  Author
   ID variable   value
0   1     Name    Ravi
1   2     Name  Aniket
2   3     Name     Ana
3   1     Role     CEO
4   2     Role  Editor
5   3     Role  Author

4.pivot

In [4]:
import pandas as pd 
# Creating the DataFrame 
d1 = { "Name": ["Ravi", "Aniket", "Ana"], "ID": [1, 2, 3], "Role": 
["CEO", "Editor", "Author"] 
} 
df = pd.DataFrame(d1) 
# Printing the original DataFrame 
print(df) 
# Melting the DataFrame 
df_melted = pd.melt(df, id_vars=["ID"], value_vars=["Name", 
"Role"], var_name="Attribute", value_name="Value") 
print(df_melted) 
# Unmelting using pivot() 
df_unmelted = df_melted.pivot(index='ID', columns='Attribute', 
values='Value') 
print(df_unmelted)

     Name  ID    Role
0    Ravi   1     CEO
1  Aniket   2  Editor
2     Ana   3  Author
   ID Attribute   Value
0   1      Name    Ravi
1   2      Name  Aniket
2   3      Name     Ana
3   1      Role     CEO
4   2      Role  Editor
5   3      Role  Author
Attribute    Name    Role
ID
1            Ravi     CEO
2          Aniket  Editor
3             Ana  Author

5.Grouping

In [5]:
# Grouping data 
import pandas as pd 
# Sample data 
punepl_data = { 
'Team': ['Warriors', 'Fighters', 'Supers', 'Fighters', 'Warriors', 
'Fighters', 'Fighters', 'Supers', 'Supers', 'Fighters', 'Warriors', 'Supers'], 
'Rank': [1, 2, 2, 3, 3, 4, 1, 1, 2, 4, 1, 2], 
'Year': [2004, 2005, 2004, 2005, 2004, 2005, 2006, 2007, 2006, 2004, 2005, 2007], 
'Points': [876, 789, 863, 673, 741, 812, 756, 788, 694, 701, 804, 690] 
} 
# Create DataFrame 
df = pd.DataFrame(punepl_data) 
print(df) 
# Print groups by Team 
print(df.groupby('Team').groups) 
# Iterating through groups by Year 
grouped = df.groupby('Year') 
for name, group in grouped: 
    print(name) 
    print(group) 
# Applying grouping and then applying aggregate function
grouped = df.groupby('Year') 
print(grouped['Points'].agg('mean'))  # Use string 'mean' instead of np.mean 
# Applying multiple aggregate functions 
grouped = df.groupby('Team') 
print(grouped['Points'].agg(['sum', 'mean', 'std']))  # Strings for aggregation functions 
# Applying filtration 
# Filter condition to return the teams which have participated four or more times in IPL 
print(df.groupby('Team').filter(lambda x: len(x) >= 4))

        Team  Rank  Year  Points
0   Warriors     1  2004     876
1   Fighters     2  2005     789
2     Supers     2  2004     863
3   Fighters     3  2005     673
4   Warriors     3  2004     741
5   Fighters     4  2005     812
6   Fighters     1  2006     756
7     Supers     1  2007     788
8     Supers     2  2006     694
9   Fighters     4  2004     701
10  Warriors     1  2005     804
11    Supers     2  2007     690
{'Fighters': [1, 3, 5, 6, 9], 'Supers': [2, 7, 8, 11], 'Warriors': [0, 4, 10]}
2004
       Team  Rank  Year  Points
0  Warriors     1  2004     876
2    Supers     2  2004     863
4  Warriors     3  2004     741
9  Fighters     4  2004     701
2005
        Team  Rank  Year  Points
1   Fighters     2  2005     789
3   Fighters     3  2005     673
5   Fighters     4  2005     812
10  Warriors     1  2005     804
2006
       Team  Rank  Year  Points
6  Fighters     1  2006     756
8    Supers     2  2006     694
2007
      Team  Rank  Year  Points
7   Supers     1  2007     788
11  Supers     2  2007     690
Year
2004    795.25
2005    769.50
2006    725.00
2007    739.00
Name: Points, dtype: float64
           sum    mean        std
Team
Fighters  3731  746.20  58.435434
Supers    3035  758.75  82.951291
Warriors  2421  807.00  67.549981
        Team  Rank  Year  Points
1   Fighters     2  2005     789
2     Supers     2  2004     863
3   Fighters     3  2005     673
5   Fighters     4  2005     812
6   Fighters     1  2006     756
7     Supers     1  2007     788
8     Supers     2  2006     694
9   Fighters     4  2004     701
11    Supers     2  2007     690

6.Aggregation

In [6]:
import pandas as pd 
import numpy as np 
# Creating the DataFrame 
df = pd.DataFrame({ 
'First Name': ['Mina', 'Sima', 'Rima', 'Sita', 'Rita'], 
'Last Name': ['Das', 'Wani', 'Kapur', 'Pande', 'Kumar'], 
'Type': ['Full-time Employee', 'Intern', 'Full-time Employee', 'Part-time Employee', 'Full-time Employee'], 
'Department': ['Administration', 'Technical', 'Administration', 'Technical', 'Management'], 
'YoE': [2, 3, 5, 7, 4], 
'Salary': [20000, 5000, 10000, 10000, 20000] 
}) 
print(df)
# Creating a pivot table 
output = pd.pivot_table(data=df, 
index=['Type'], 
columns=['Department'], 
values='Salary', 
aggfunc='mean') 
print(output) 
# Pivot table with multiple aggfuncs 
output = pd.pivot_table(data=df, 
index=['Type'], 
values='Salary', 
aggfunc=['sum', 'mean', 'count']) 
print(output) 
# Calculate row and column totals (margins) 
output = pd.pivot_table(data=df, 
index=['Type'], 
values='Salary', 
aggfunc=['sum', 'mean', 'count'], 
margins=True, 
margins_name='Grand Total') 
print(output)

  First Name Last Name                Type      Department  YoE  Salary
0       Mina       Das  Full-time Employee  Administration    2   20000
1       Sima      Wani              Intern       Technical    3    5000
2       Rima     Kapur  Full-time Employee  Administration    5   10000
3       Sita     Pande  Part-time Employee       Technical    7   10000
4       Rita     Kumar  Full-time Employee      Management    4   20000
Department          Administration  Management  Technical
Type
Full-time Employee         15000.0     20000.0        NaN
Intern                         NaN         NaN     5000.0
Part-time Employee             NaN         NaN    10000.0
                      sum          mean  count
                   Salary        Salary Salary
Type
Full-time Employee  50000  16666.666667      3
Intern               5000   5000.000000      1
Part-time Employee  10000  10000.000000      1
                      sum          mean  count
                   Salary        Salary Salary
Type
Full-time Employee  50000  16666.666667      3
Intern               5000   5000.000000      1
Part-time Employee  10000  10000.000000      1
Grand Total         65000  13000.000000      5